.pagination {
  display: flex;
  justify-content: center;
  width: calc(100% - var(--size-20));

  &-prev,
  &-next {
    display: flex;
    align-items: center;
    margin-right: var(--size-10);

    &.disabled {
      opacity: 0.5;
    }

    a {
      margin-left: var(--size-5);
      color: var(--black);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__button {
      border: none;
      font-size: var(--size-16);
      background: transparent;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &-next {
    margin: 0;
  }
}
