.pokemon-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 var(--size-10);

  &__info,
  &__description {
    padding: var(--size-20);
    width: 45%;
    box-sizing: border-box;
  }

  .pokemon-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pokemon-card {
      &__info-id {
        font-size: var(--size-80);
      }

      &__info-name {
        font-size: var(--size-70);
      }

      &__info-image {
        width: 100%;
      }
    }
  }

  &__panel-control-btn {
    font-size: var(--size-16);
    margin-right: var(--size-10);
    padding: var(--size-10);
    background: transparent;
    border: 1px solid var(--black);
    box-sizing: border-box;

    &:hover {
      color: var(--white);
      background: var(--black);
      cursor: pointer;
    }

    &.active {
      color: var(--white);
      background: var(--black);

      &:hover {
        color: var(--black);
        background: var(--white);
      }
    }
  }

  &__back {
    display: flex;
    justify-content: center;
    position: absolute;
    left: var(--size-10);
    top: var(--size-70);

    svg {
      margin-right: var(--size-5);
    }

    &-link {
      color: var(--black);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pagination {
    position: fixed;
    top: 95%;
    margin: 0;
  }
}
