.pokemon__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--size-10);

  &:after {
    content: "";
    width: var(--size-350);
  }
}

.pagination {
  padding: var(--size-20) 0;
}
