.nav {
  height: var(--size-50);
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: var(--white);
  }

  &__search-panel {
    &-input {
      margin-right: var(--size-10);
      border: 1px solid var(--black);
      height: var(--size-20);
      padding: var(--size-5) var(--size-10);
    }

    &-btn {
      background: var(--black);
      border: 1px solid transparent;
      height: var(--size-32);
      color: var(--white);
      font-weight: 500;

      &:hover {
        background: var(--white);
        color: var(--black);
        border-color: var(--black);
        cursor: pointer;
      }
    }
  }
}
