.nav {
  height: var(--size-70);
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: calc(100% - var(--size-20));
  z-index: 1;
  padding: 0 var(--size-10);

  &__logo {
    color: var(--white);

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__search-panel {
    &-input {
      margin-right: var(--size-10);
      border: 1px solid var(--black);
      height: var(--size-20);
      padding: var(--size-5) var(--size-10);
    }

    &-btn {
      background: var(--black);
      border: 1px solid transparent;
      height: var(--size-32);
      color: var(--white);
      font-weight: 500;

      &:hover {
        background: var(--white);
        color: var(--black);
        border-color: var(--black);
        cursor: pointer;
      }
    }

    &-error {
      position: absolute;
      top: 75%;
      font-size: 12px;
    }
  }
}
