:root {
  // Main palette
  --white: #ffffff;
  --white-tile: #f8f8ff;
  --red: #ee1515;
  --black: #000000;

  // Colors of pokemon types
  --grass: #65c171;
  --fire: #fc642d;
  --water: #73b6fe;
  --bug: #b6b428;
  --normal: #c1c1c1;
  --poison: #c871d2;
  --electric: #ffcc00;
  --psychic: #ff68c4;
  --fighting: #ed2939;
  --rock: #e1ad01;
  --ghost: #101d6b;
  --ground: #9b7653;
  --ice: #abd1f3;
  --dragon: #5f4b8b;
  --fairy: #ff8fab;
  --dark: #6f432a;
  --steel: #7a7f80;
  --flying: #55aaff;
}
