:root {
  // Main palette
  --white: #ffffff;
  --white-tile: #f8f8ff;
  --red: #ee1515;
  --black: #000000;

  // Colors of pokemon types
  --grass: #65c171;
  --fire: #fc642d;
  --water: #73b6fe;
  --bug: #f0cf97;
  --normal: #ffbf00;
  --poison: #c871d2;
}
