:root {
  --size-5: 0.313rem;
  --size-10: 0.625rem;
  --size-15: 0.938rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-35: 2.188rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-350: 21.875rem;
  --size-400: 25rem;
  --size-500: 31.25rem;
}
